html {
    height: 100vh;
    background-image: url('./img/bg/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cowboy Outlaw', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 90px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
    text-shadow: 1px 1px 3px black;
}

#game-container {
    position: relative;
    width: 720px;
    height: 480px;
}

/* #start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
} */

#start_btn,
#restart_btn {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 48px;
    font-family: 'Cowboy Outlaw', sans-serif;
    color: black;
    border: none;
    cursor: pointer;
    margin: 0;
    text-shadow: 1px 1px 2px black;
}

#start_btn:hover,
#restart_btn:hover {
    color: orange;
}

#game-over-screen img {
    background-color: transparent !important;
}

.d-none {
    display: none !important;
}

canvas {
    /* background-color: black; */
    display: block;
}

#all-btn {
    display: flex;
    flex-direction: row;
    width: 720px;
    justify-content: space-between;
}
#btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

#info-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

/* #title {
    position: absolute;    
    top: 0;
} */